<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <title>User Profile</title>

  <style>
    body{
      margin-top:20px;
      color: #1a202c;
      background-color: #a0a0a0;
    }

    .card {
      width: 70%;
      background-color: #fff;
      border-radius: 25px;
    }

    .card-body {
      padding: 2rem;
    }
  </style>

</head>
<body>
  <div th:insert="~{/navbar :: nav}" style="margin-bottom: 100px"/>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-auto">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <h6>First Name</h6>
              </div>
              <div class="col-sm-8 text-secondary" th:text="${user.firstName}"/>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <h6>Last Name</h6>
              </div>
              <div class="col-sm-8 text-secondary" th:text="${user.lastName}"/>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <h6>Email</h6>
              </div>
              <div class="col-sm-8 text-secondary" th:text="${user.email}"/>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info" th:href="@{/}">Signout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>